:root{
    --maincolor:#7cc000;
    --secondclr:#e7ec6e;
    --thirdcolor:#f7f6f2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background: var(--maincolor);
}
.header #logo{
    color: white;
    font-size: 3rem;

}
.header #logo span{
    color: var(--secondclr);
}
.navbar a{
    color: white;
    font-size: 1.7rem;
    margin-left: 1rem;

}
.navbar a:hover{
    color: var(--secondclr);
}
.icons{
    font-size: 2rem;
   
}
.icons a{
    color: white;
    margin-left: 1rem;
}
.icons #menu-bars{
    display: none;
}
.header .navbar.active{
    top: 12%;
    transition: .2s;
}
.shopping-cart{
    position: absolute;
    top: -100%;
    width: 35rem;
    right: 2rem;
    background: white;
    padding: 2rem;
    border-radius: .5rem;
}
.shopping-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 1.5rem;
}
.shopping-box img{
    width: 100px;
}
.fa-times{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    cursor: pointer;
}
.fa-times:hover{
    color: var(--maincolor);
}    
.shopping-box h3{
    font-size: 1.7rem;
    padding: .5rem;
}
.shopping-box span{
    font-size: 1.5rem;
}
.shopping-box .multiply{
    margin: 0 .5rem;
}
.total{
    text-align: center;
    font-size: 1.7rem;
    padding: 1rem;
    color: var(--maincolor);
}
.chechout{
    font-size: 1.7rem;
    color: black;
    background: var(--secondclr);
    padding: 1rem 3rem;
    text-align: center;
    display: inline-block;

}
.chechout:hover{
    background: var(--maincolor);
}
.shopping-cart.active{
    top: 12%;
}
.home{
    background: url(imgaes/mainbackground.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home h1{
    font-size: 5rem;
    color: black;
}
.home h1 span{
    color: var(--maincolor);
}
.organic-menu{
    padding: 2rem 7%;
}
.organic-menu h1{
    font-size: 4rem;
    text-align: center;

}
.organic-menu h1 span{
    color: var(--maincolor);
}
.orgainic-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 2rem 0;

}
.orgainic-inner img{
    width: 150px;
}
.orgainic-inner a{
    padding: 1rem 5rem;
    font-size: 1.7rem;
    color: var(--secondclr);
    border-radius: 10px;
    border: 1px solid rgb(146, 143, 143);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.freshfood{
    background: var(--maincolor);
}
.fresh-food-section{
    padding: 2rem 5%;
}
.fresh-food-section h1{
    padding: 1rem 0;
    font-size: 4rem;
    text-align: center;
}
.fresh-food-section h1 span{
    color: var(--maincolor);
}
.inner-food{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 3rem 0;
    flex-wrap: wrap;
}
.fresh-box{
    flex: 1 1 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2rem;
    background: var(--thirdcolor);
}
.fresh-box img{
    width: 100px;
    height: 100px;
}
.fresh-box h3{
    font-size: 1.7rem;
    color: black;
}
.fresh-box h3 span{
    color: var(--maincolor);
}
.fruit-vegi{
    padding: 3rem 5%;
}
.fruit-vegi h1{
    font-size: 4rem;
    padding: 3rem 0;
    text-align: center;
    color: black;
}
.fruit-vegi h1 span{
    color: var(--maincolor);
}
.main-fruits{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.left-fruit{
    flex: 1 1 45rem;
    padding: 2rem 0;
}
.fruits-only{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
.inner-fruit{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding: 2rem 0;
}
.left-fruit{
    padding: 1rem 2rem;
}
.left-fruit h3{
    font-size: 1.7rem;
}
.left-fruit h3 span{
    color: var(--maincolor);
}
.left-fruit h2{
    font-size: 2rem;
    padding: 2rem 3rem;
}
.left-fruit p{
    padding: 0 5rem;
    font-size: 1.7rem;
    text-align: center;
}
.our-gallery{
    padding: 2rem 7%;
}
.our-gallery h1{
    padding: 2rem 0;
    text-align: center;
    font-size: 4rem;
    color: black;
}
.our-gallery h1 span{
    color: var(--maincolor);
}
.inner-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.gallery-box{
    flex: 1 1 300px;
    padding: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.gallery-box h3{
    font-size: 1.7rem;
    padding: .5rem;
}
.gallery-box h3 span{
    color: var(--maincolor);
}
.testimonials{
    padding: 2rem 7%;
}
.testimonials h1{
    font-size: 4rem;
    padding: 1rem 0;
    text-align: center;

}
.testimonials h1 span{
    color: var(--maincolor);
}
.main-testimonial{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}
.our-customers{
    flex: 1 1 45rem;
}

.inner-testi{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
}
.inner-testi p{
    padding: 0 3rem;
}























@media (max-width:768px) {
    html{
        font-size: 50%;
    }
    .icons #menu-bars{
        display: initial;
    }
    .header{
        padding: 2rem;
    }
    .navbar{
        position: absolute;
       top: -100%;
       background: var(--secondclr);
       left: 0;
       width: 100%;
       height: 50vh;
    }
    .navbar a{
        display: block;
        margin: 1rem;
        padding: 1.5rem;
        color: black;
        background: var(--maincolor);
        border-radius: 15px;
    }


}